* {
	box-sizing: border-box;
}

body {
	background-color: #eeeeee;
	color: #000000;
	margin: 0;
}

h1 {
	color: #cae9ff;
	background-color: #000000;
	margin: 0 0 2rem 0;
	padding: 1em;
	color: #ffffff;
}

h2 {
	font-size: 30px;
	margin: 0;
	border-bottom: 1px solid#000000;
	margin-bottom: 1rem;
}

table {
	border-spacing: 0;
	width: 5rem;
	overflow-x: auto;
	margin-bottom: 0.5rem;
	white-space: nowrap;
	display: inline-table;
}

th,
td {
	border: 1px solid #000000;
	padding: 0 0.5rem;
	margin: 0;
}

[aria-hidden] {
	display: none;
}

.hide {
	display: none;
}

progress {
	border-radius: 7px;
	width: 100%;
	box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2) inset;
}

progress::-webkit-progress-bar {
	background-color: #000000;
	border-radius: 7px;
}

progress::-webkit-progress-value {
	background-color: #5fa8d3;
	border-radius: 7px;
}

#username-form {
	width: 80%;
	text-align: center;
	margin: auto;
	margin-bottom: 2rem;
}

#username-label {
	font-weight: 700;
	font-size: large;
	margin: 1rem;
}

#filter-form {
	width: 80%;
	padding: 1rem;
	margin: auto;
	border: 1px solid #000000;
}

.filter {
	margin-bottom: 1rem;
}

.filter-button {
	font-size: large;
	/* background-color: #cae9ff; */
	width: 5em;
	height: 2em;
}

.filter-button:hover {
	background-color: #cae9ff;
}

.multiselect-header {
	display: inline;
}

.multiselect-option {
	display: inline-block;
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
	padding: 0.5rem;
	margin: 0.5rem;
}

.multiselect-option:hover {
	cursor: pointer;
}

.selected {
	background-color: #1b4965;
	color: #ffffff;
}

.broad-select-container {
	margin-bottom: 10px;
}

.toggle-label {
	font-size: 18.72px;
	font-weight: bold;
}

input[type='checkbox'] {
	background-color: #000000;
	width: 15px;
	height: 15px;
}

.range-slider {
	width: 80%;
	margin: 2rem auto;
}

.range-slider-header {
	text-align: center;
	margin-top: 0;
}

.noUi-connect {
	background-color: #1b4965;
}

.waiting {
	height: 1rem;
	background-color: rgba(255, 255, 255, 0.2);
	width: 100%;
	overflow: hidden;
}

.waiting-value {
	width: 100%;
	height: 100%;
	background-color: #5fa8d3;
	animation: indeterminateAnimation 1s infinite linear;
	transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
	0% {
		transform: translateX(0) scaleX(0);
	}
	40% {
		transform: translateX(0) scaleX(0.4);
	}
	100% {
		transform: translateX(100%) scaleX(0.5);
	}
}

#game-data {
	margin: 4rem auto;
	width: 90%;
}

#move-data {
	margin: auto;
	width: 90%;
}
